<!DOCTYPE html>
<html>
<head>
    <meta name="google-adsense-account" content="ca-pub-5605794258432532">
    <title>Quiz Result</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>Your current balance is R <%= balance %></p>
    <a href="/quiz/question">Next Question</a>
</body>
</html>
