<!DOCTYPE html>
<html>
<head>
    <title>Quiz Complete</title>
</head>
<body>
    <h1>Quiz Complete!</h1>
    <p>Your final balance is R <%= balance %></p>
    <a href="/">Go to Home</a>
</body>
</html>
