<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-5605794258432532">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shankura Random Game</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // Menu toggle functionality
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');

        menuButton.addEventListener('click', function() {
            mobileMenu.classList.toggle('hidden');
            menuIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });
        document.addEventListener('DOMContentLoaded', function() {
            const balanceDisplay = document.getElementById('balance');
            const form = document.getElementById('lottoForm');
            const message = document.getElementById('message');

            let balance = <%= balance %>;
            const ticketPrice = 3.00;

            function updateBalanceDisplay() {
                balanceDisplay.textContent = `R${balance.toFixed(2)}`;
            }
            updateBalanceDisplay();

            form.addEventListener('submit', function(e) {
                e.preventDefault();

                if (balance < ticketPrice) {
                    message.textContent = "Insufficient funds. Please go watch ads or quiz to make more money to play.";
                    return;
                }

                const userNumbers = Array.from(document.querySelectorAll('.number-input')).map(input => parseInt(input.value));
                if (new Set(userNumbers).size !== 5) {
                    message.textContent = "Please enter 5 unique numbers.";
                    return;
                }

                balance -= ticketPrice;
                const winningNumbers = generateRandomNumbers();
                const matches = getMatchingNumbers(userNumbers, winningNumbers);
                const prize = calculatePrize(matches);
                
                if (prize > 0) {
                    balance += prize; // Update balance if user won
                }

                updateBalanceInDatabase(prize - ticketPrice);
                
                updateBalanceDisplay();
                message.textContent = `You matched ${matches.length} numbers. ${prize > 0 ? `You won R${prize}!` : "Better luck next time!"} Winning numbers: ${winningNumbers.join(', ')}`;
            });

            function generateRandomNumbers() {
                let numbers = [];
                while (numbers.length < 5) {
                    let num = Math.floor(Math.random() * 59) + 1;
                    if (!numbers.includes(num)) {
                        numbers.push(num);
                    }
                }
                return numbers;
            }

            function getMatchingNumbers(userNumbers, winningNumbers) {
                return userNumbers.filter(num => winningNumbers.includes(num));
            }

            function calculatePrize(matches) {
                let prize = 0;
                if (matches.length === 3) prize = 50;
                else if (matches.length === 4) prize = 150;
                else if (matches.length === 5) prize = 600;
                return prize;
            }

            function updateBalanceInDatabase(amount) {
                fetch('/update-balance', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ amount })
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        message.textContent = "Error updating balance.";
                    }
                });
            }

            const profileDropdownToggle = document.getElementById('profileDropdownToggle');
            const profileDropdown = document.getElementById('profileDropdown');
            const arrowIcon = document.getElementById('arrowIcon');

            profileDropdownToggle.addEventListener('click', function() {
                profileDropdown.classList.toggle('hidden');
                arrowIcon.classList.toggle('rotate-180');
            });
        });
    </script>
</head>
<body class="bg-gray-800 text-white">
    <nav class="">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button id="menu-button" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <div class="flex items-center">
                            <svg id="menu-icon" class="block h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <svg id="close-icon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </button>
                    <p><span class='text-red-600'>Shan</span>kura</p>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <p class="lg:text-4xl font-bold hidden sm:block"><span class='text-red-600'>Shan</span>kura</p>
                        <div class="hidden sm:flex space-x-4 ml-4">
                            <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3  rounded-md text-sm font-medium">Home</a>
                            <a href="/profile" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 rounded-md text-sm font-medium">Profile</a>
                            <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 rounded-md text-sm font-medium">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <div class="relative flex items-center">
                        <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full" src="https://th.bing.com/th/id/R.19fa7497013a87bd77f7adb96beaf768?rik=144XvMigWWj2bw&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f5%2fUser-Profile-PNG-High-Quality-Image.png&ehk=%2bat%2brmqQuJrWL609bAlrUPYgzj%2b%2f7L1ErXRTN6ZyxR0%3d&risl=&pid=ImgRaw&r=0" alt="">
                        </button>
                        <span class="sm:text-white text-sm ml-2"><%= username %></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu -->
        <div class="sm:hidden hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a href="/profile" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Profile</a>
                <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Logout</a>
            </div>
        </div>
    </nav>
    <main class="p-6">
        <h1 class="lg:text-3xl text-center mb-4">Welcome to the <span class="text-red-600">Shan</span>kura Guessing Game</h1>
        <p class="text-center mb-4">Your current balance: <span id="balance">R<%= balance %></span></p>
        <section class="mb-6">
            <div class="my-6">
                <h2 class="text-xl text-center">Advertisements</h2>
                <div class="bg-gray-700 h-32 flex items-center justify-center">
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-format="autorelaxed"
                         data-ad-client="ca-pub-5605794258432532"
                         data-ad-slot="9266258800"></ins>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5605794258432532"
                            crossorigin="anonymous"></script>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <h2 class="text-xl mb-2">How to Play ??</h2>
            <p>Enter 5 unique numbers between 1 and 59 to participate. Each ticket costs R3.00, and you could win exciting prizes!</p>
        </section>
        <form id="lottoForm" class="mb-4 text-center">
            <label for="num1" class="block mb-2">Enter your numbers:</label>
            <div class="grid grid-cols-5 gap-2 mb-2 justify-center">
                <input type="number" class="number-input p-2 rounded text-black" min="1" max="59" required>
                <input type="number" class="number-input p-2 rounded text-black" min="1" max="59" required>
                <input type="number" class="number-input p-2 rounded text-black" min="1" max="59" required>
                <input type="number" class="number-input p-2 rounded text-black" min="1" max="59" required>
                <input type="number" class="number-input p-2 rounded text-black" min="1" max="59" required>
            </div>
            <button type="submit" class="bg-red-600 text-white p-2 rounded-lg text-xl mt-4">Play Now</button>
        </form>
        <p id="message" class="text-red-600 text-center"></p>
        <div class="my-6">
            <h2 class="text-xl text-center">Advertisements</h2>
            <div class="bg-gray-700 h-32 flex items-center justify-center">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="autorelaxed"
                     data-ad-client="ca-pub-5605794258432532"
                     data-ad-slot="9266258800"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <p class="text-center"><a href="/home" class="text-blue-400">Back to Home</a></p>
    </main>
</body>
</html>